
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  font-size: 3rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Title{
  color: #043565;
  font-family: Roboto;
  font-weight: 700;
  text-align: left;
}


.Heading{
  color: #043565;
  font-family: Roboto;
  font-weight: 700;
  padding-top: 5%;
  padding-left: 5%;
  text-align: left;
}

.figure{
  padding: 1.5rem;
}

#profile{
  border-radius: 3rem;
}

.card-columns {
  padding: 1rem;
  margin: 2rem;
}

.figure-caption{
  font-family: Roboto;
  font-weight: 500;
  color: black;

}

.profile-col{
  text-align: center;
}

.construct{
  font-size: 90px;
  padding-top: 20px;
  padding-bottom: 500px;
  text-align: center;

}
.nav{
  background-color: #043565;
}

.nav-link{
  color: white;
}


.bioRow{
  margin: 3rem;
  border-radius: 50px;
  display: flex;
  background-color: #FCF9D1;
  justify-content: center;
  width: 65%;
  padding: 2rem;
}

.bioDiv{
  display: flex;
  justify-content: center;
}


.infoDiv{
  width: 65%;
  text-align: left;
  margin-left: 5rem;
  margin-top: 3rem;
}

.TitleDiv{
  margin-left: 1.5rem;
}

.profDiv{
  margin-top: 1rem;
  margin-left: 1rem;
}

.Navbar{
  position: sticky;
  top: 0px;
}

#cards{
  position: static;
}